.main__container {
    margin: 20px;
}

.display__data {
    margin-bottom: 20px;
}

.btn--edit {
    margin-top: 20px;
}

.main--table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
