<div class="main__container">
  <mat-toolbar color="primary" class="responsive--header">
    MyStore
    <span class="material-symbols-outlined"> storefront </span></mat-toolbar
  >

  <mat-toolbar color="primary" class="main__header">
    <span class="mystore--name">MyStore</span>
    <span class="material-symbols-outlined mystore--name"> storefront </span>
    <div class="routing--links">
      <a mat-button (click)="login()" class="routing--links--text">Login</a>
      <a mat-button (click)="sellProduct()" class="routing--links--text"
        >Start Selling</a
      >
      <button mat-button class="material-symbols-outlined" (click)="openCart()">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="product--display">
    <h1 class="background--heading">
      MyStore
      <span class="material-symbols-outlined background--heading"
        >shopping_cart</span
      >
    </h1>
    <button
      mat-raised-button
      color="primary"
      class="btn--getstarted"
      (click)="productDisplay()"
    >
      Explore Products
    </button>
  </div>
</div>
