  <div class="container">




    <form [formGroup]="userDetailsForm" class="formbody">
      <div>

        <mat-toolbar color="accent">
          <span>User Details Form</span>
        </mat-toolbar>

        <mat-form-field>
          <mat-label for="name">Name:</mat-label>
          <input matInput type="text" id="name" formControlName="name" />
          <ng-container
            *ngIf="
              userDetailsForm.get('name')?.invalid &&
              (userDetailsForm.get('name')?.dirty ||
                userDetailsForm.get('name')?.touched) 
            "
          >
            <mat-error *ngIf="userDetailsForm.get('name')hasError('required')">
              Enter Valid Name
            </mat-error>
          </ng-container>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Date Of Birth:</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" [max]="today">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div>
        <mat-form-field>
          <mat-label for="email">Email:</mat-label>
          <input matInput type="email" id="email" formControlName="email" />
          <ng-container
            *ngIf="
              userDetailsForm.get('email')?.invalid &&
              (userDetailsForm.get('email')?.dirty ||
                userDetailsForm.get('email')?.touched)
            "
          >
            <mat-error *ngIf="userDetailsForm.get('email')hasError('required')">
              Enter Valid Email
            </mat-error>
          </ng-container>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label for="phone">Phone Number:</mat-label>
          <input matInput type="tel" id="phone" formControlName="phone" />
          <mat-error *ngIf="userDetailsForm.get('phone')invalid">
            Enter valid phone number
          </mat-error>
        </mat-form-field>
      </div>

      <div formGroupName="education">
        <mat-form-field>
          <mat-label>Institute Name :</mat-label>
          <input matInput formControlName="institutename" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select Qualification: </mat-label>
          <mat-select formControlName="degree">
            <mat-option value="10th">10th</mat-option>
            <mat-option value="12th">12th</mat-option>
            <mat-option value="Bacholers">Bacholers</mat-option>
            <mat-option value="Masters">Masters</mat-option>
            <mat-option value="Doctrate">Doctrate</mat-option>
          </mat-select>
          <mat-error *ngIf="userDetailsForm.get('degree')hasError('required')">
            Enter Your Qualification
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Percentage : </mat-label>
          <input matInput formControlName="percentage" />
          <mat-error *ngIf="userDetailsForm.get('percentage')invalid">
            Enter valid percentage
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select Hobbies:</mat-label>
          <mat-select formControlName="hobby" multiple>
            <mat-option *ngFor="let hobby of hobbies" [value]="hobby">{{ hobby }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
      <label>Gender:</label>
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      
      <div formArrayName="addresses">
        <div *ngFor="let addressControl of addresses.controls; let indexOfAddress = index" class="form-group">
          <mat-form-field>
            <mat-label for="addresses">Address no. {{ indexOfAddress + 1 }}:</mat-label>
            <textarea matInput formControlName="{{indexOfAddress}}"></textarea>
          </mat-form-field>
        </div>
      </div>
      
      <button mat-flat-button color="primary" type="button" (click)="addAddress()">Add Address</button>
      
      <div>
        <mat-form-field>
          <mat-label for="summary">Summary:</mat-label>
          <textarea matInput id="summary" formControlName="summary"></textarea>
        </mat-form-field>
      </div>

      <button mat-flat-button color="accent" type="button" (click)="resetForm()" >Reset</button>
      <button mat-flat-button color="primary" type="button" (click)="submitForm()" >Submit</button>
    </form>
  </div>