.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.formbody {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 2rem;
  background-color: #fff; 
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 1rem;
}

mat-toolbar {
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}

button {
  margin-right: 10px;
}

.btn--remove {
  margin-bottom: 1rem;
}

mat-form-field,
textarea,
input {
  margin-bottom: 15px;
}

/*responsive adress ipt*/
.form-group {
  display: flex;
  flex-direction: column;
}

/* spcing of ipt field */
.form-group:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .formbody {
    max-width: 90%;
    margin-block: 1rem;
    margin: 0 auto;
  }
}

