<div class="main__container">
  <div class="user--card">
    <div class="user-card-header">
      <h2>User Details</h2>
    </div>
    <div class="user-card-body">
      <div class="user--details">
        <p><strong>Name:</strong> {{ userDetails?.name | uppercase }}</p>
        <p>
          <strong>Date of Birth:</strong>
          {{ userDetails?.dateOfBirth | date : "longDate" }}
        </p>
        <p><strong>Email:</strong> {{ userDetails?.email }}</p>
        <p><strong>Phone:</strong> {{ userDetails?.phone }}</p>

        <ng-container *ngIf="userDetails?.education">
          <p>
            <strong>Institute Name:</strong>
            {{ userDetails?.education?.institutename }}
          </p>
          <p>
            <strong>Qualification:</strong> {{ userDetails?.education?.degree }}
          </p>
          <p>
            <strong>Percentage:</strong>
            {{ userDetails?.education?.percentage }}
          </p>
          <p><strong>Hobbies:</strong> {{ userDetails?.education?.hobby }}</p>
        </ng-container>

        <p><strong>Gender:</strong> {{ userDetails?.gender }}</p>

        <ng-container>
          <p><strong>Address:</strong></p>
          <ul>
            <li *ngFor="let address of userDetails?.addressess">
              {{ address }}
            </li>
          </ul>
        </ng-container>
      </div>

      <div class="user-card-buttons">
        <button pButton (click)="editForm(userDetails!.id)">
          <span class="material-symbols-outlined">edit</span>
        </button>
        <button pButton (click)="deleteUser(userDetails!.id)">
          <span class="material-symbols-outlined">delete</span>
        </button>
      </div>
    </div>
  </div>

  <br />

  <button pButton (click)="allusersdata()">
    <span class="material-symbols-outlined">arrow_back</span> Back
  </button>
</div>
