<p-table >
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Institute Name</th>
            <th>Qualification</th>
            <th>Percantage</th>
            <th>Hobbies</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Summary</th>
            <th>Edit User</th>
            <th>Delete User</th>
        </tr>
</ng-template>
<ng-template pTemplate="body">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>   
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button pButton (click)="editForm()">Edit
        </button></td>
        <td><button pButton (click)="deleteUser()">Delete</button></td>

    </tr>
</ng-template>
</p-table>


<button pButton (click)="allusersdata()">Click Here</button>
<p>Click Above to show all users data</p>