
<mat-toolbar color="primary" class="main__header">
  <div class="backbtn"></div>
  <span>MyStore</span>
  <span class="material-symbols-outlined"> storefront </span>
</mat-toolbar>

<mat-toolbar class="main__header">
  <div >
    <app-breadcrumb [breadcrumbArray]="navigationArray" class="breadcrumb"></app-breadcrumb>
  </div>
</mat-toolbar>




<div class="main__container">
  <div class="eleven">
    <h1>Seller Guide</h1>
  </div>
  <div class="guide--step">
    1) Create your MyStore seller acoount from homepage of MyStore and be ready
    with your GST number.
  </div>
  <div class="guide--step">
    2) Fill all the required field in Product form and list your product in
    MyStore.
  </div>
  <div class="guide--step">
    3) You can also delete your product as well update your product for more
    selles from Manage products section.
  </div>
  <div class="guide--step">
    4) Once you become a verified MyStore seller, payments are deposited safely
    to your bank account every 7 days, even for Pay on Delivery orders.
  </div>
</div>
