<div class="main__container">
  <form [formGroup]="userDetailsForm" class="form--container">
    <p-toolbar class="form--title" [style]="{
        'margin-bottom': '25px',
        'justify-content': 'center',
        'background-color': '#3B82F6',
        color: 'white'
      }">
      <div>Update - User Details</div>
    </p-toolbar>

    <div class="ngform--field">
      <label for="name" class="ngform--field--label">Name:</label>
      <input pInputText id="name" formControlName="name" class="bottom--margin" />
      <div *ngIf="
          userDetailsForm.get('name')?.invalid &&
          (userDetailsForm.get('name')?.dirty ||
            userDetailsForm.get('name')?.touched)
        ">
        <div *ngIf="userDetailsForm.get('name'); hasError: 'required'" class="error-message">
          Enter Valid Name
        </div>
      </div>
    </div>

    <div>
      <label class="ngform--field--label">Date Of Birth:</label>
      <p-calendar formControlName="dateOfBirth" [maxDate]="todayDate" [showIcon]="true" (click)="(picker)"
        class="bottom--margin ngform--field" [style]="{ height: '38px' }"></p-calendar>

      <div *ngIf="
          userDetailsForm.get('dateOfBirth')?.invalid &&
          (userDetailsForm.get('dateOfBirth')?.dirty ||
            userDetailsForm.get('dateOfBirth')?.touched)
        ">
        <div *ngIf="userDetailsForm.get('dateOfBirth'); hasError: 'required'" class="error-message">
          Enter Valid Date
        </div>
      </div>
    </div>

    <div>
      <div class="ngform--field">
        <label for="email" class="ngform--field--label">Email:</label>
        <input pInputText type="email" id="email" formControlName="email" class="bottom--margin" />
        <div *ngIf="
            userDetailsForm.get('email')?.invalid &&
            (userDetailsForm.get('email')?.dirty ||
              userDetailsForm.get('email')?.touched)
          ">
          <div *ngIf="userDetailsForm.get('email'); hasError: 'required'" class="error-message">
            Enter Valid Email
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="ngform--field">
        <label for="email" class="ngform--field--label">Phone:</label>
        <input pInputText type="tel" id="phone" pKeyFilter="num" formControlName="phone" class="bottom--margin" />
        <div *ngIf="
            userDetailsForm.get('phone')?.invalid &&
            (userDetailsForm.get('phone')?.dirty ||
              userDetailsForm.get('phone')?.touched)
          ">
          <div *ngIf="userDetailsForm.get('phone'); hasError: 'required'" class="error-message">
            Enter Valid Phone
          </div>
        </div>
      </div>
    </div>

    <div formGroupName="education">
      <div class="ngform--field">
        <label class="ngform--field--label">Institute Name:</label>
        <input pInputText formControlName="institutename" class="bottom--margin" />
      </div>

      <div>
        <label class="ngform--field--label">Select Qualification:</label>
        <p-dropdown [options]="degrees" class="ngform--field p-dropdown" [style]="{ height: '38px' }"
          formControlName="degree"></p-dropdown>
        <div *ngIf="userDetailsForm.get('degree')?.invalid">
          Enter Your Qualification
        </div>
      </div>

      <div class="ngform--field">
        <label class="ngform--field--label">Percentage</label>
        <input pInputText formControlName="percentage" class="bottom--margin" formControlName="percentage" />
        <div *ngIf="userDetailsForm.get('percentage')?.invalid">
          Enter valid percentage
        </div>
      </div>

      <div>
        <label class="ngform--field--label">Select Hobbies:</label>
        <p-multiSelect class="p-multiselect" [style]="{ width: '100%', height: '38px' }" [options]="hobbies"
          [showHeader]="false" formControlName="hobby"></p-multiSelect>
      </div>
    </div>

    <div [style]="{ 'margin-top': '14px', 'margin-bottom': '14px' }">
      <label class="ngform--field--label">Gender:</label>

      <div>
        <p-radioButton name="gender" value="Male" formControlName="gender" inputId="male"></p-radioButton><label
          for="male" [style]="{ 'margin-right': '1rem' }">Male</label>

        <p-radioButton name="gender" value="Female" formControlName="gender" inputId="female"></p-radioButton>
        <label for="female">Female</label>
      </div>
    </div>

    <div formArrayName="addressess">
      <div *ngFor="let addressControl of addressess.controls; let i = index">
        <div class="ngform--field">
          <label for="addressess" class="ngform--field--label">
            Address no. {{ i + 1 }}:
          </label>
          <input rows="5" cols="30" pInputTextarea [autoResize]="true" formControlName= "address.addAddress" />
       
      </div>
      </div>
    </div>

    <button pButton type="button" (click)="addAddress()" class="btn--address btn--sizing">
      Add Address
    </button>

    <button pButton label="Update" class="btn--sizing" icon="pi pi-pencil" (click)="updateUser()"></button>
  </form>
</div>
