<div class="main__container">
  <h1>UserData Table</h1>
  <button pButton type="button" (click)="addUser()" >
    <span class="material-symbols-outlined"> person_add </span>
  </button>

  <p-table [value]="userArray">
    <ng-template pTemplate="header">
      <tr [style]="{ height: '50px' }">
        <th class="text--center">Name</th>
        <th class="text--center">View UserDetails</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-userDetail>
      <tr [style]="{ height: '10px' }">
        <td class="text--center">{{ userDetail.name | uppercase }}</td>

        <td class="text--center">
          <button pButton (click)="viewUser(userDetail.id)">
            <span class="material-symbols-outlined"> open_in_new </span>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
