.example-card {
  max-width: 100%;
  margin-bottom: 8px;
}
.backbtn {
  display: flex;
  width: 47%;
  align-items: center;
  justify-content: flex-start;
}

.breadcrumb{
  font-size: 1rem;
}

.main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  margin-inline-start: 5%;
  margin-inline-end: 1%;
  padding: 2rem;
  position: absolute;
}
.second--div {
  display: flex;
  max-width: 400px;
  max-height: 400px;
  padding: 9px;
  overflow: hidden;
}

.main__header {
  position: sticky;
  display: flex;
  justify-content: left;
  align-items: center;
}

.second--div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.product-title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3rem;
  text-shadow: 2px 2px 8px #3f51b5;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .second--div {
    max-width: 410px;
    max-height: 400px;
  }

  .backbtn {
    width: 44%;
  }
}

@media screen and (max-width: 543px) {
  .product-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .product-title {
    font-size: 1.2rem;
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 1024px) {
  .backbtn {
    width: 45%;
  }
}

@media screen and (max-width: 543px) {
  .backbtn {
    width: 41%;
  }
}

@media screen and (max-width: 481px) {
  .backbtn {
    width: 40%;
  }
}
